.detail {
	width: fit-content;
	margin: auto;
	padding: 25px;
}

img {
	height: 200px;
}

.btn-add {
	background-color: #0076d6;
	border: none;
	border-radius: 10px;
	color: white;
	width: max-content;
	padding: 16px;
	cursor: pointer;
	font-size: 18px;
}

.btn-add:hover {
	opacity: 0.5;
}
