.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 200px;
	height: 450px;
	text-align: center;
	font-family: arial;
	font-size: 15px;
	padding: 20px;
}

.img {
	width: 200px;
	height: 200px;
}

.ver-mas {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #0076d6;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
}

.link {
	text-decoration: none;
	color: white;
}

.ver-mas:hover {
	opacity: 0.5;
}
