.appbar {
	background: linear-gradient(
		135deg,
		rgb(21, 21, 206),
		rgb(119, 173, 216) 85%
	);
	display: flex;
	justify-content: space-around;
	margin: 0;
	align-items: center;
	padding: 1rem 1.5rem;
	text-decoration: none;
}

li {
	list-style: none;
}

.fa-ethereum {
	color: white;
	padding: 1rem;
	font-size: 26px;
}

.navbar-logo {
	transform: scale(1.5);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
}

.logo {
	transform: scale(1.5);
	padding: 15px;
}

.cart {
	transform: scale(1.5);
}
